:host {
    display: inline-flex;
    align-self: center;
    align-items: center;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    color: var(--experiment-description-icon);
    cursor: pointer;
    opacity: 0.3;   
    transition: all 200ms ease-in-out;
}

:host:hover .icon {
    opacity: 1;
}
