@model data_science_lab_site.Data.Models.PluginPackage

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="mb-0">
                    <a class="card-link" asp-page="/Packages/Details" asp-route-id="@Model.Id">
                        @Model.Name
                    </a>
                </h2>
            </div>
            <div>
                <a class="card-link">
                    GitHub
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>
            Description... to be added.
        </p>
    </div>
</div>