:host {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
    :host {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    :host {
        grid-template-columns: repeat(1, 1fr);
    }
}
