<p class="m-0 desc">
    {{ setting.description }}
</p>
<input type="number" class="w-100 p-1 accent1" value="value" #value="ngModel" [(ngModel)]="setting.value" required
    [min]="setting.min" [max]="setting.max" #numberCmp>
<div *ngIf="!isValid(setting.value)">
    <div class="invalid-feedback">
        <div *ngIf="setting.min !== undefined && setting.max === undefined">
            Number must be greater or equal to {{ setting.min }}
        </div>
        <div *ngIf="setting.max !== undefined && setting.min === undefined">
            Number must be less than {{ setting.max }}
        </div>
        <div *ngIf="setting.max !== undefined && setting.min !== undefined">
            Number must be between {{ setting.min }} and {{ setting.max }}
        </div>
    </div>
</div>