:host {
    user-select: none;
}

.frame {
    background: var(--experiment-visualization-frame-background);
    pointer-events: none;
}

.container {
    width: fit-content;
    height: fit-content;
    position: absolute;
}


:host:hover .icon, :host:hover .options {
    display: block;
}

.icon {
    display: none;
    position: absolute;
    width: 0px;
    z-index: 11;
}

.icon-body {
    border-radius: 50%;
    background: var(--experiment-visualization-card-icon-body);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-body:hover {
    background: var(--experiment-visualization-card-icon-body-hover);
}