@page
@model data_science_lab_site.Pages.Account.ForgotPasswordConfirmationModel
@{
}


    <div class="mx-auto text-center">
        <p class="lead">
            Please check your email to reset your password.
        </p>
    </div>