@page
@model data_science_lab_site.Pages.Account.ResetPasswordConfirmationModel
@{
}



<div class="mx-auto text-center">
    <p class="lead">
        Your password has been reset.
    </p>
    <div class="btn-group">
        <a asp-page="/Account/Login"
           role="button"
           class="btn btn-primary text-white">
            Login
        </a>
    </div>
</div>
