@import "~@angular/cdk/overlay-prebuilt.css";
/* You can add global styles to this file, and also import other style files */

:root {
    --workspace-background: #303030;
    --workspace-word: #fff;
    --workspace-scroll-background: #303030;
    --workspace-scroll-foreground: #3655B5;
    --welcome-title: #FFF;
    --welcome-options: #AAA;
    --welcome-options-focus: #EEE;
    --welcome-options-faded: #CCC;
    --sidebar-background: #505050;
    --sidebar-word: #FFF;
    --sidebar-icon: #707070;
    --sidebar-icon-active: #FFF;
    --sidebar-icon-hover: #A0A0A0;
    --sidebar-list-background: #353535;
    --sidebar-list-background-hover: #ffffff40;
    --sidebar-list-header-selected: #3655B5;
    --sidebar-list-card-hover: #606060;
    --sidebar-list-card-selected: #707070;
    --sidebar-plugin-badge: #6089B4;
    --tabs-background: #404040;
    --tabs-card-background: #505050;
    --tabs-card-border: #282828;
    --tabs-scroll-foreground: #3655B5;
    --tabs-word: #FFF;
    --report-word: #fff;
    --report-background: #404040;
    --modal-background: #303030;
    --modal-header: #303030;
    --modal-shadow: rgba(0, 0, 0, 0.1);
    --modal-word: #fff;
    --modal-exit: #aaa;
    --modal-exit-hover: #fff;
    --word: #FFF;
    --invalid: #C7444A;
    --accent1: #C7444A;
    --accent2: #3655B5;
    --accent3: #6089B4;
    --accent4: #9872A2;
    --accent5: #D08442;
    --accent6: #219186;
    --input-background: #404040;
    --input-color: #fff;
    --input-placeholder: #f5f5f5;
    --input-range-tick: #fff;
    --input-range-track: #FFF;
    --dropdown-background: #404040;
    --dropdown-shadow: rgba(0, 0, 0, 0.1);
    --dropdown-list-hover: #505050;
    --dropdown-word: #fff;
    --create-experiment-desc-background: #505050;
    --update-experiment-desc-background: #505050;
    --settings-title: #FFF;
    --settings-desc: #DDD;
    --settings-gear: #AAA;
    --settings-border: #AAA;
    --package-title: #FFF;
    --package-border: #AAA;
    --package-icon: #6089B4;
    --package-desc: #DDD;
    --package-install: #219186;
    --package-card-background: #323232;
    --package-card-border: #404040;
    --package-card-shadow: rgba(0, 0, 0, .1);
    --select-background: #404040;
    --select-option-background: #505050;
    --select-word: #FFF;
    --select-option-hover: #404040;
    --experiment-header: #303030;
    --experiment-header-shadow: rgba(0, 0, 0, 0.1);
    --experiment-description-icon: #6089B4;
    --experiment-dataset: #219186;
    --experiment-visualization: #9872A2;
    --experiment-algorithm: #C7444A;
    --plugin-body-next: #FFF;
    --plugin-header-title: #FFF;
    --plugin-exit: #C7444A;
    --plugin-selection-background: #353535;
    --object-card-background: #323232;
    --object-card-selected: #6089B4;
    --plugin-input-card-background: #323232;
    --plugin-input-card-border: #219186;
    --plugin-input-card-shadow: rgba(0, 0, 0, .1);
    --plugin-input-card-valid: #219186;
    --popup-error: #C7444A;
    --popup-word: #FFF;
    --popup-info: #6089B4;
    --popup-warning: #D08442;
    --experiment-dataset-card-background: #323232;
    --experiment-dataset-card-border: #404040;
    --experiment-dataset-card-shadow: rgba(0, 0, 0, .1);
    --join-dataset-card: #353535;
    --join-dataset-background-selected: #2191862f;
    --join-dataset-border-selected: #219186;
    --dataset-table-th: #323232;
    --dataset-table-tr-even: #353535;
    --dataset-table-scroll-background: #303030;
    --dataset-table-scroll-foreground: #3655B5;


    --tabs-height: 40px;
    --tabs-scroll-height: 2px;
    --tabs-actual-height: 42px;
    --sidebar-expanded-width: 300px;
    --sidebar-list-header-icon-width: 20px;
    --sidebar-scroll-width: 20px;
    --plugin-badge: 25px;
}

body, p {
    font-family: 'Source Sans Pro', sans-serif;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    cursor: default;
    font-family: 'Merriweather', serif;
}

.pointer, .pointer * {
    cursor: pointer !important;
}

body, p {
    font-family: 'Source Sans Pro', sans-serif;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    cursor: default;
    font-family: 'Merriweather', serif;
}

button, button:hover, button:active, button:focus {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

button.disabled, button.disabled>* {
    opacity: 0.5;
    cursor: not-allowed;
}

input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    border: 0px;
}

input, textarea {
    background-color: var(--input-background);
    color: var(--input-color);
}

input[type=range] {
    background: transparent;
    height: 40px;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    border-radius: 0px;
    border: 1px solid var(--input-range-track);
}

input.accent1 {
    caret-color: var(--accent1);
}

input.accent4[type=range]::-webkit-slider-runnable-track {
    background: var(--accent4);
}

input.accent5[type=range]::-webkit-slider-runnable-track {
    background: var(--accent5);
}

input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 10px;
    border-radius: 0px;
    appearance: none;
    margin-top: -15px;
}

input.accent4[type=range]::-webkit-slider-thumb {
    border: 1px solid var(--accent4);
    background: var(--accent4);
}

input.accent4[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accent4);
}

input.accent5[type=range]::-webkit-slider-thumb {
    border: 1px solid var(---accent5);
    background: var(--accent5);
}

input.accent5[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accent5);
}

input[type=range]:focus {
    outline: transparent;
}

::placeholder {
    color: var(--input-placeholder);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

input.accent1:focus, textarea.accent1:focus {
    outline-color: var(--accent1);
    caret-color: var(--accent1);
}

input.accent2:focus, textarea.accent2:focus {
    outline-color: var(--accent2);
    caret-color: var(--accent2);
}

input.accent3:focus, textarea.accent3:focus {
    outline-color: var(--accent3);
    caret-color: var(--accent3);
}

input.accent4:focus, textarea.accent4:focus {
    outline-color: var(--accent4);
    caret-color: var(--accent4);
}

.text-accent1 {
    color: var(--accent1);
}

.text-accent2 {
    color: var(--accent2);
}

.text-accent3 {
    color: var(--accent3);
}

.text-accent4 {
    color: var(--accent4);
}

.text-accent5 {
    color: var(--accent5);
}

.text-accent6 {
    color: var(--accent6);
}

.input-lg {
    font-size: larger;
}

.input-xlg {
    font-size: x-large
}

.btn-lg {
    font-size: larger;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    border: 1px solid;
    background: transparent;
    color: var(--word);
}

.btn-accent1, .btn-accent1:focus {
    transition: all 400ms linear;
    color: var(--accent1);
    border-color: var(--accent1);
}

.btn-accent1:hover, .btn-accent1:active {
    color: var(--word);
    background: var(--accent1);
    border-color: var(--accent1);
}

.btn-accent2, .btn-accent2:focus {
    transition: all 400ms linear;
    color: var(--accent2);
    border-color: var(--accent2);
}

.btn-accent2:hover, .btn-accent2:active {
    color: var(--word);
    background: var(--accent2);
    border-color: var(--accent2);
}

.btn-accent3, .btn-accent3:focus {
    transition: all 400ms linear;
    color: var(--accent3);
    border-color: var(--accent3);
}

.btn-accent3:hover, .btn-accent3:active {
    color: var(--word);
    background: var(--accent3);
    border-color: var(--accent3);
}

.btn-accent4, .btn-accent4:focus {
    transition: all 400ms linear;
    color: var(--accent4);
    border-color: var(--accent4);
}

.btn-accent4:hover, .btn-accent4:active {
    color: var(--word);
    background: var(--accent4);
    border-color: var(--accent4);
}

.btn-accent5, .btn-accent5:focus {
    transition: all 400ms linear;
    color: var(--accent5);
    border-color: var(--accent5);
}

.btn-accent5:hover, .btn-accent5:active {
    color: var(--word);
    background: var(--accent5);
    border-color: var(--accent5);
}

.btn-accent6, .btn-accent6:focus {
    transition: all 400ms linear;
    color: var(--accent6);
    border-color: var(--accent6);
}

.btn-accent6:hover, .btn-accent6:active {
    color: var(--word);
    background: var(--accent6);
    border-color: var(--accent6);
}

.dropdown {
    background-color: var(--modal-background);
    box-shadow: 0px 5px 1px 3px var(--modal-shadow);
    color: var(--modal-word);
}

.dropdown-list>li {
    margin: 5px 0px;
    padding: 5px 20px;
    cursor: pointer;
}

.dropdown-list>li:hover {
    background: var(--dropdown-list-hover);
}

.invalid-feedback {
    color: var(--invalid);
}

.tab-font {
    font-family: 'Roboto Slab', serif;
}

.pointer {
    cursor: pointer;
}

.list-unstyled {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

.modal {
    background-color: var(--modal-background);
    box-shadow: 0px 5px 1px 3px var(--modal-shadow);
    color: var(--modal-word);
    padding: 10px;
    width: 50vw;
}

.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.p-5 {
    padding: 25px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-4 {
    padding-bottom: 20px;
}

.pb-5 {
    padding-bottom: 25px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pt-4 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 25px;
}

.pr-0 {
    padding-right: 0px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 15px;
}

.pr-4 {
    padding-right: 20px;
}

.pr-5 {
    padding-right: 25px;
}

.pl-0 {
    padding-left: 0px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 15px;
}

.pl-4 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 25px;
}

.py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-5 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-4 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-5 {
    padding-left: 25px;
    padding-right: 25px;
}

.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.m-5 {
    margin: 25px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 25px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mr-5 {
    margin-right: 25px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.ml-5 {
    margin-left: 25px;
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-5 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-3 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx-4 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-5 {
    margin-left: 25px;
    margin-right: 25px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-100v {
    width: 100vw;
}

.h-100v {
    height: 100vh;
}