<div class="notification m-5 pb-1" [ngClass]="notification.type">
    <div class="header">
        <h3 class="m-0 px-1 pt-1 pb-0">{{ notification.header }}</h3>
        <button type="button" (click)="onExit($event)">
            <span class="exit">&times;</span>
        </button>
    </div>
    <hr>
    <div class="mx-2 mt-0 mb-1">
        <div class="message">{{ notification.message }}</div>
        <button class="float-right action p-1" type="button" (click)="onAction($event)" *ngIf="notification.action !== undefined">
            {{ notification.action.label }}
        </button>
    </div>
</div>