.notification {
    position: relative;
    min-width: 300px;
    max-width: 500px;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    color: var(--notification-word);
}

.message {
    display: inline-block;
}

.notification.warning {
    background: var(--notification-warning);
}

.notification.info {
    background: var(--notification-info);
}

.notification.error {
    background: var(--notification-error);
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.action {
    color: var(--notification-word);
    border: 1px solid var(--notification-word);
    border-radius: 0.5rem;
}

.exit {
    font-size: xx-large;
    color: var(--notification-word);
}