<div class="extended" *ngIf="isExpanded">
    <ng-container *ngIf="choice === 'experiments'">
        <app-sidebar-experiment class="h-100v"></app-sidebar-experiment>
    </ng-container>
    <ng-container *ngIf="choice === 'packages'">
        <app-sidebar-package class="h-100v" *ngIf="choice === 'packages'"></app-sidebar-package>
    </ng-container>
    <ng-container *ngIf="choice === 'algorithms'">
        <app-sidebar-algorithm class="h-100v" *ngIf="choice === 'algorithms'"></app-sidebar-algorithm>
    </ng-container>
</div>
<div class="icons">
    <div class="space"></div>
    <ul class='list-unstyled'>
        <li class="text-center pointer icon my-2 px-4" (click)='onPick("experiments", $event)'
            [ngClass]="{ 'active': choice === 'experiments' }">
            <fa name="flask" size="2x" title="experiments">
            </fa>
            <!-- Experiments -->
        </li>
        <li class="text-center pointer icon my-2 px-4" (click)='onPick("algorithms", $event)'
            [ngClass]="{ 'active': choice === 'algorithms' }">
            <fa name="code" title="algorithms" size="2x"></fa>
            <!-- Algorithms -->
        </li>
        <li class="text-center pointer icon my-2 px-4" (click)='onPick("packages", $event)'
            [ngClass]="{ 'active': choice === 'packages' }">
            <fa name="puzzle-piece" title="packages" size="2x"></fa>
            <!-- Packages -->
        </li>
    </ul>
</div>
<div class="settings">
    <div class="text-center icon my-2 px-4">
        <fa name="gear" title="settings" size="2x" (click)="onSettingsClick()" (contextmenu)="onSettingsContext($event)"></fa>
        <!-- Settings -->
    </div>
    <app-dropdown #settingsCmp>
        <ul class="list-unstyled dropdown-list">
            <li (click)="onWelcomeClick()">
                Welcome
            </li>
            <li>
                Shortcuts
            </li>
            <li (click)="onSettingsClick()">
                Settings
            </li>
        </ul>
    </app-dropdown>
</div>
