:host(.right-sidebar) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr min-content;
    grid-template-areas: 'extended icons' 'extended icons' 'extended settings';
    height: 100%;
}

:host(.left-sidebar) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr min-content;
    grid-template-areas: 'icons extended' 'icons extended' 'settings extended';
    height: 100%;
}

.space {
    height: var(--tabs-height) !important;
}

.extended {
    grid-area: extended;
    width: var(--sidebar-expanded-width);
}

.hidden {
    width: 0px;
    display: none;
}

.icons {
    grid-area: icons;
}

:host(.right-sidebar) .icon {
    border-right: 2px solid transparent;
}

:host(.left-sidebar) .icon {
    border-left: 2px solid transparent;
}

:host(.right-sidebar) .icon.active {
    border-right: 2px solid var(--sidebar-icon-active);
}

:host(.right-sidebar) .icon:hover.active {
    border-right: 2px solid var(--sidebar-icon-active);
}

:host(.left-sidebar) .icon.active {
    border-left: 2px solid var(--sidebar-icon-active);
}

:host(.left-sidebar) .icon:hover.active {
    border-left: 2px solid var(--sidebar-icon-active);
}

.settings {
    grid-area: settings;
}

.icon {
    color: var(--sidebar-icon);
}

.icon:hover {
    color: var(--sidebar-icon-hover);
}

.icon.active {
    color: var(--sidebar-icon-active);
}

.icon:hover.active {
    color: var(--sidebar-icon-active);
}