:host {
    width: 100%;
}

.sel {
    display: flex;
    justify-content: space-between;
    background: var(--select-background);
    color: var(--select-word);
}

.opt {
    background: var(--select-option-background);
    color: var(--select-word);
    max-height: 30vh;
    overflow-y: auto;
}

.opt::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.opt::-webkit-scrollbar-track {
    background-color: transparent;
}

.opt::-webkit-scrollbar-thumb {
    background-color: var(--select-scroll);
}

.opt:hover::-webkit-scrollbar-thumb {
    background-color: var(--select-scroll);
}

.opt li {
    display: flex;
    justify-content: space-between;
}

.opt li:hover {
    background: var(--select-option-hover);
    
}

