@page
@model data_science_lab_site.Pages.Plugins.HubModel
@{
}

<h1 class="text-info text-center">Hub</h1>
<hr/>
@foreach (var plugin in Model.Plugins)
{
    @await Component.InvokeAsync("PluginCard", plugin)
}