@page
@model data_science_lab_site.Pages.Plugins.IndexModel
@{
}

<h1 class="text-info">
    Your Plugins
    <span class="float-right">
        <a class="btn btn-light" asp-page="/Plugins/Publish">Publish</a>
    </span>
</h1>
<hr />
@if (Model.Plugins.Count == 0)
{
    <p>No plugins yet. Why don't you publish <strong>one!</strong></p>
}
else
{
    @foreach (var plugin in Model.Plugins)
    {
        @await Component.InvokeAsync("PluginCard", plugin)
    }
}
