@page
@model data_science_lab_site.Pages.Plugins.PublishModel
@{
}


<h1 class="text-info">
    Publish a Plugin
</h1>
<hr/>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Plugin.Name"></label>
        <input asp-for="Plugin.Name" class="form-control"/>
        <span asp-validation-for="Plugin.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Plugin.Owner"></label>
        <input asp-for="Plugin.Owner" class="form-control"/>
        <span asp-validation-for="Plugin.Owner" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Plugin.RepositoryName"></label>
        <input asp-for="Plugin.RepositoryName" class="form-control"/>
        <span asp-validation-for="Plugin.RepositoryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Publish</button>
    </div>
</form>