:host(){
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--package-border);
    color: var(--package-title);
}

.icon {
    color: var(--package-icon);
    display: inline-block;
}