:host {
    background-color: var(--workspace-background);
    color: var(--tabs-word);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: var(--tabs-actual-height);
    grid-template-areas: 'tabs options';
    height: var(--tabs-actual-height) !important;
}

.tabs {
    grid-area: tabs;
    background-color: var(--tabs-background);
    overflow-x: scroll;
    white-space: nowrap;
    height: 100%;
}


.options {
    grid-area: options;
    height: var(--tabs-actual-height);
    display: inline-block;
    position: relative;
}

.tabs::-webkit-scrollbar {
    height: var(--tabs-scroll-height);
}

.tabs::-webkit-scrollbar-track {
    background: var(--workspace-background);
}

.tabs::-webkit-scrollbar-thumb {
    background: var(--workspace-background);
    border-radius: 10%;
}

.tabs:hover::-webkit-scrollbar-thumb {
    background: var(--tabs-scroll-foreground);
}