.container {
    background: repeating-linear-gradient(to right, var(--experiment-visualizetion-grid-lines) 0px, var(--experiment-visualizetion-grid-lines) 1px, transparent 1px, transparent 50px),
                repeating-linear-gradient(to bottom, var(--experiment-visualizetion-grid-lines) 0px, var(--experiment-visualizetion-grid-lines) 1px, transparent 1px, transparent 50px);
    border: 1px solid var(--experiment-visualizetion-grid-lines);
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;

}