:host() {
    display: grid;
    grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'header' 'export';
}

.plugin-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--algorithm-plugin-link);
}

.header {
    grid-area: header;
}


.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.export-dropdown {
    grid-area: export;
    display: flex;
    align-self: center;
    justify-self: center;
}

.export-dropdown {
    border: 1px solid var(--experiment-export-algorithm-dropdown-border);
    border-radius: 0.2rem;
}

.icon {
    color: var(--experiment-algorithm);
}

.edit {
    align-self: flex-start;
    opacity: 0.2;
    transition: all 200ms ease-in-out;
}

.edit:hover {
    opacity: 1.0;
}

@media(min-width: 576px) {
    :host() {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'header' 'export';
    }
    
    
    :host() .export-dropdown {
        display: flex;
        align-self: center;
        justify-self: center;
    }

    :host(.sidebar-expanded) .export-dropdown {
        display: flex;
        align-self: center;
        justify-self: center;
    }

    :host(.sidebar-expanded) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'header' 'export';
    }
}

@media(min-width: 768px) {
    :host() {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'header' 'export';
    }

    
    :host() .export-dropdown {
        display: flex;
        align-self: center;
        justify-self: center;
    }

    :host(.sidebar-expanded) .export-dropdown {
        display: flex;
        align-self: center;
        justify-self: center;
    }

    :host(.sidebar-expanded) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'header' 'export';
    }
}

@media(min-width: 992px) {
    :host() {
        grid-template-columns: minmax(min-content, 200px) 1fr minmax(min-content, 200px);
        grid-template-rows: 1fr;
        grid-template-areas: 'blank header export';
    }

    :host() .export-dropdown {
        display: flex;
        align-self: flex-start;
        justify-self: right;
    }

    :host(.sidebar-expanded) .export-dropdown {
        display: flex;
        align-self: center;
        justify-self: center;
    }

    :host(.sidebar-expanded) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'header' 'export';
    }
}

@media(min-width: 1200px) {
    :host() {
        grid-template-columns: minmax(min-content, 200px) 1fr minmax(min-content, 200px);
        grid-template-rows: 1fr;
        grid-template-areas: 'blank header export';
    }

    :host() .export-dropdown {
        display: flex;
        align-self: flex-start;
        justify-self: right;
    }

    :host(.sidebar-expanded) .export-dropdown {
        display: flex;
        align-self: flex-start;
        justify-self: right;
    }

    :host(.sidebar-expanded) {
        grid-template-columns: minmax(min-content, 200px) 1fr minmax(min-content, 200px);
        grid-template-rows: 1fr;
        grid-template-areas: 'blank header export';
    }
}

