@model data_science_lab_site.Data.Models.Plugin

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="mb-0">
                    @Model.Name
                </h2>
            </div>
            <div>
                <a class="card-link">
                    GitHub
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>
            Description... to be added.
        </p>
    </div>
</div>