.container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    background: var(--experiment-visual-menu-background);
}

.visual-dropdown {
    border: 1px solid var(--experiment-visual-menu-dropdown-border);
    border-radius: 0.2rem;
}

.views {
    display: flex;
}

.actions {
    display: flex;
}